*.iml
.gradle
/local.properties
/.idea/appInsightsSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/libraries
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/release/
/app/src/main/assets/
